* Add the following content to the above file
<h1>Simple Calculator</h1>
<%= form_tag "/sum" do %>
<%= text_field_tag :number1 %>
<%= text_field_tag :number2 %>
<%= submit_tag "+" %>

<% end %>

<hr>

<%= form_tag "/subtract" do %>
<%= text_field_tag :number1 %>
<%= text_field_tag :number2 %>
<%= submit_tag "-" %>
<% end %>
